/* add css module styles here (optional) */

* {
  box-sizing: border-box;
}

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;

  button {
    cursor: pointer;
  }
}

.cookie-banner {
  padding: 1rem;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: max-content;
  max-width: 100vw;
  margin: 0 auto;
  background-color: var(--mecc-override-banner-background-color, #ffffff);
  z-index: 9999;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  top: 0;
  left: 0;
  z-index: 9999;
}

.overlay .cookie-banner {
  position: relative;
}

.cookie-option {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  justify-self: center;
}

.cookie-option__checkbox {
  min-width: var(--mecc-override-toggler-min-width, 80px);
}
.close-button {
  align-self: start;
  background-color: Transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.cookie-banner__buttons {
  display: flex;
  align-items: center;
}

.default-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid #000;
}

.cookie-banner__buttons button:not(:first-child) {
  margin-left: 1rem;
}

.cookie-banner .content {
  max-width: 600px;
  max-height: 100vh;
  margin-right: 2rem;
}

fieldset {
  border: none;
}

.options {
  background-color: var(--mecc-override-banner-background-color, #ffffff);
  display: grid;
  grid-row-gap: 2.5rem;
}

.option-group__header {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.option-group__toggler {
  width: max-content;
  justify-self: center;
  align-self: center;
}

.option-group__toggler .label {
  --border-width: var(--mecc-override-toggler-border-width, 2px);
  --background-color: var(--mecc-override-toggler-background-color, #b7b7b7);
  --background-color-active: var(
    --mecc-override-toggler-background-active-color,
    #66d699
  );
  --background-color-intermediate: #f9e665d9;

  --border-color: transparent;
  --height: 1.5rem;
  display: block;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
}

.option-group__toggler--hidden .label {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.option-group__toggler .label:before {
  --size: calc(var(--height) - (var(--border-width) * 4));
  border: var(--border-width) solid var(--background-color);
  background: #ffffff;
  content: '';
  display: block;
  height: var(--size);
  width: var(--size);
  top: 0;
  left: 0;
  border-radius: 100%;
  position: absolute;
}

.option-group__toggler .input {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

.option-group__toggler .input:checked ~ .label {
  background-color: var(--background-color-active);
}

.option-group__toggler .input:checked ~ .label:before {
  right: 0;
  left: auto;
  border: var(--border-width) solid var(--background-color-active);
}

.option-group__toggler--intermediate .label {
  background-color: var(--background-color-intermediate);
}

.option-group__toggler--intermediate .label:before {
  right: 50%;
  transform: translateX(50%);
  left: auto;
  border: var(--border-width) solid var(--background-color-intermediate);
}

.footer {
  width: 100%;
}
